<!DOCTYPE html>
<html>
<head>
<style>




	
    	 { margin: 0; padding: 0; }
        body { font: 14px/1.4  serif; }
        #page-wrap { width: 600px; margin: 15px auto; position: relative; }
        p {background-color: #BEF4F0; margin: 0 0 15px 0; }
        p { background: #90CCC7; padding: 10px; }
        #sidebar ul { background: #90CCC7; padding: 10px; }
        li { margin: 0 0 0 20px; }
        #main { width: 390px; float: left; }
    
        #sidebar { width: 190px; position: fixed; left: 50%; top: 180px; margin: 110px; }


hl {
  font-family: sans-serif;
  font-size:45px; margin: 1000px;padding: inherit;
    background-color: #82D4BB; text-align: center
}

ul {
  list-style-type: none;
    font-family: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #82BFAC;
}

body {
  font-family: Arial, sans-serif;
  background-color: #82D4BB
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #333;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #333;
  border: 2px solid #333;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #90CCC7;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #333;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: whitesmoke;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}